<!-- BEGIN ORDER RESULT -->
<div class="col-sm-6">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Order by <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Name</a></li>
      <li><a href="#">Date of birth</a></li>
    </ul>
  </div>
</div>
<!-- END ORDER RESULT -->