<!-- BEGIN FILTERS -->
<div class="col-md-3">
  <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
  <hr>
  <div class="padding"></div>
  <!-- BEGIN FILTER BY CATEGORY -->
  <h4>By color:</h4>
  <div class="checkbox">
    <label><input type="checkbox" class="icheck"> Bicolor</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" class="icheck"> Tricolor</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" class="icheck"> Desktop</label>
  </div>
  <!-- END FILTER BY CATEGORY -->
  <div class="padding"></div>
  <!-- BEGIN FILTER BY SEX -->
  <h4>By sex:</h4>
  <div class="checkbox">
    <label><input type="checkbox" class="icheck">Male</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" class="icheck">Female</label>
  </div>
  <!-- END FILTER BY SEX -->
  <div class="padding"></div>
  <!-- BEGIN FILTER BY DATE -->
  <h4>By date of birth:</h4>
  From
  <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
    <input type="text" class="form-control">
    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
  </div>
  <input type="hidden" id="dtp_input1" value="">
  To
  <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
    <input type="text" class="form-control">
    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
  </div>
  <input type="hidden" id="dtp_input2" value="">
  <!-- END FILTER BY DATE -->
  <div class="padding"></div>
  <!-- BEGIN FILTER BY ID -->
  <h4>By ID:</h4>
  <input type="text" class="form-control">
  <!-- END FILTER BY ID -->
</div>
<!-- END FILTERS -->