<!-- BEGIN SEARCH INPUT -->
<div class="input-group">
  <input type="text" class="form-control js-searchFrmNameInp" value="<%= params.dig(:q, :name_cont) %>" placeholder="Tìm theo tên">
  <span class="input-group-btn">
    <button class="btn btn-primary btn-search js-searchFrmNameSearch" type="button">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>
<!-- END SEARCH INPUT -->
<% if params.dig(:q, :name_cont).nil? || params.dig(:q, :name_cont).empty? %>
  &nbsp;
<% else %>
  <p>t('view.search.result_matching') "<%= params.dig(:q, :name_cont) %>"</p>
<% end %>
