<!-- BEGIN SEARCH INPUT -->
<div class="input-group">
  <input type="text" class="form-control" value="Mr B">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
  </span>
</div>
<!-- END SEARCH INPUT -->
<p>Showing all results matching "MR B"</p>
