<section id="primary" class="content-area container articles">
  <main id="main" class="site-main" role="main">
    <header class="page-header" style="margin: -30px 0 20px;">
      <h1 class="page-title">Chuyên mục: Kinh nghiệm</h1>
    </header>
    <!-- .page-header -->
    <%= render 'list' %>
  </main>
  <!-- #main -->
</section>
