<footer id="colophon" class="site-footer">

    <div class="top-footer footer-column-4">
        <div class="mid-content">
            <div class="top-footer-wrap clearfix">
                <div class="footer-block">
                    <aside id="googlemapswidget-2" class="widget google-maps-widget">
                        <h2 class="widget-title">Map</h2>
                        <p>
                            <a data-gmw-id="googlemapswidget-2" class="gmw-thumbnail-map gmw-lightbox-enabled" href="#gmw-dialog-googlemapswidget-2" title="Click to open a larger map"><img width="250" height="250" alt="Click to open a larger map" title="Click to open a larger map" src="//maps.googleapis.com/maps/api/staticmap?key=AIzaSyBl-RwKJwixQ8_u8aof7-dFoKJP9ZMbzck&amp;scale=1&amp;format=png&amp;zoom=13&amp;size=250x250&amp;language=en&amp;maptype=roadmap&amp;markers=size%3Adefault%7Ccolor%3A0xff0000%7Clabel%3AA%7C108+mai+%C4%91%E1%BB%99ng&amp;center=108+mai+%C4%91%E1%BB%99ng&amp;visual_refresh=true"></a>
                        </p>
                    </aside>
                    <aside id="text-13" class="widget widget_text">
                        <h2 class="widget-title">Follow me :</h2>
                        <div class="textwidget"></div>
                    </aside>
                    <aside id="sfsi-plus-widget-3" class="widget sfsi_plus">
                        <div class="sfsi_plus_widget" data-position="widget" style="min-height: auto;">
                            <div id="sfsi_plus_wDiv"></div>
                            <script>
                                window.addEventListener('sfsi_plus_functions_loaded', function() {
                                    if (typeof sfsi_plus_widget_set == 'function') {
                                        sfsi_plus_widget_set();
                                    }
                                })
                            </script>
                            <div class="sfsiplus_norm_row sfsi_plus_wDiv" style="width:450px;position:absolute;;text-align:left">
                                <div style="width:40px; height:40px;margin-left:5px;margin-bottom:5px;" class="sfsi_plus_wicons shuffeldiv ">
                                    <div class="sfsiplus_inerCnt">
                                        <a class=" sficn" data-effect="combo" target="_blank" href="https://www.facebook.com/chobordercollie/" style="opacity:0.6"><img alt="Facebook" title="Facebook" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/images/icons_theme/cute/cute_fb.png" width="40" height="40" style="" class="sfcm sfsi_wicon sfsiplusid_round_icon_facebook" data-effect="combo"></a>
                                        <div class="sfsi_plus_tool_tip_2 sfsi_plus_fb_tool_bdr sfsi_plus_Tlleft sfsiplusid_facebook" style="display: none; width: 62px; opacity: 0; z-index: -1;"><span class="bot_arow bot_fb_arow"></span>
                                            <div class="sfsi_plus_inside">
                                                <div class="icon1">
                                                    <a href="https://www.facebook.com/chobordercollie/" target="_blank"><img class="sfsi_plus_wicon" alt="Facebook" title="Facebook" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/images/visit_icons/Visit_us_fb/icon_Visit_us_vi.png"></a>
                                                </div>
                                                <div class="icon2">
                                                    <div class="fb-like fb_iframe_widget" data-href="https://collievn.com" data-width="180" data-show-faces="false" data-layout="button" data-action="like" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=138&amp;href=https%3A%2F%2Fcollievn.com%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;width=180"><span style="vertical-align: bottom; width: 59px; height: 20px;"><iframe name="f27f8fec47f567c" width="180px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D45%23cb%3Df3245a06692cd4%26domain%3Dcollievn.com%26origin%3Dhttps%253A%252F%252Fcollievn.com%252Ffdc60f4d563b18%26relation%3Dparent.parent&amp;container_width=138&amp;href=https%3A%2F%2Fcollievn.com%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;width=180" style="border: none; visibility: visible; width: 59px; height: 20px;" class=""></iframe></span></div>
                                                </div>
                                                <div class="icon3"><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcollievn.com" style="display:inline-block;"> <img class="sfsi_wicon" data-pin-nopin="true" width="auto" height="auto" alt="fb-share-icon" title="Facebook Share" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/images/share_icons/fb_icons/vi_VN.svg"></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="width:40px; height:40px;margin-left:5px;margin-bottom:5px;" class="sfsi_plus_wicons shuffeldiv ">
                                    <div class="sfsiplus_inerCnt">
                                        <a class=" sficn" data-effect="combo" target="_blank" href="https://twitter.com/?lang=vi" style="opacity:0.6"><img alt="Twitter" title="Twitter" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/images/icons_theme/cute/cute_twitter.png" width="40" height="40" style="" class="sfcm sfsi_wicon sfsiplusid_round_icon_twitter" data-effect="combo"></a>
                                    </div>
                                </div>
                                <div style="width:40px; height:40px;margin-left:5px;margin-bottom:5px;" class="sfsi_plus_wicons shuffeldiv ">
                                    <div class="sfsiplus_inerCnt">
                                        <a class=" sficn" data-effect="combo" target="_blank" href="https://www.youtube.com/channel/UCVjKKHWI1JiTfYCSVUa9v9Q" style="opacity:0.6"><img alt="YouTube" title="YouTube" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/images/icons_theme/cute/cute_youtube.png" width="40" height="40" style="" class="sfcm sfsi_wicon sfsiplusid_round_icon_youtube" data-effect="combo"></a>
                                    </div>
                                </div>
                                <div style="width:40px; height:40px;margin-left:5px;margin-bottom:5px;" class="sfsi_plus_wicons shuffeldiv ">
                                    <div class="sfsiplus_inerCnt">
                                        <a class=" sficn" data-effect="combo" target="_blank" href="https://www.pinterest.com/lechianh0211/" style="opacity:0.6"><img alt="PINTEREST" title="PINTEREST" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/images/icons_theme/cute/cute_pinterest.png" width="40" height="40" style="" class="sfcm sfsi_wicon sfsiplusid_round_icon_pinterest" data-effect="combo"></a>
                                    </div>
                                </div>
                                <div style="width:40px; height:40px;margin-left:5px;margin-bottom:5px;" class="sfsi_plus_wicons shuffeldiv ">
                                    <div class="sfsiplus_inerCnt">
                                        <a class=" sficn" data-effect="combo" target="_blank" href="https://www.instagram.com/lechianh/" style="opacity:0.6"><img alt="INSTAGRAM" title="INSTAGRAM" src="https://collievn.com/wp-content/plugins/ultimate-social-media-plus/images/icons_theme/cute/cute_instagram.png" width="40" height="40" style="" class="sfcm sfsi_wicon sfsiplusid_round_icon_instagram" data-effect="combo"></a>
                                    </div>
                                </div>
                            </div>
                            <div id="sfsi_holder" class="sfsi_plus_holders" style="position: relative; float: left; width: 100%; z-index: -1; height: 66px;"></div>
                            <script></script>
                            <div style="clear: both;"></div>
                        </div>
                    </aside>
                </div>

                <div class="footer-block">
                    <aside id="text-5" class="widget widget_text">
                        <h2 class="widget-title">About me</h2>
                        <div class="textwidget">
                            <ul>
                                <li>Trang chia sẻ kinh nghiệm,cách nuôi và huấn luyện Border Collie.</li>
                                <li>Cùng kết nối – cùng đam mê !</li>
                                <li>Mua Bán chó Border Collie</li>
                                <li>Phối giống chó Border Collie</li>
                            </ul>
                        </div>
                    </aside>
                    <aside id="text-15" class="widget widget_text">
                        <h2 class="widget-title">Chính sách khách hàng</h2>
                        <div class="textwidget">
                            <ul>
                                <li><a href="https://collievn.com/lien-he/"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Liên lạc với tôi nhé</span></span></span></span></span></span></a></li>
                                <li><a href="https://collievn.com/quyen-loi-khi-mua-cho-border-collie">Vận chuyển</a></li>
                                <li><a href="https://collievn.com/quyen-loi-khach-hang/"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Quyền</span></span></span></span></span></span></a><a href="https://collievn.com/quyen-loi-khach-hang/"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">&nbsp;</span></span></span></span></span></span></a><a href="https://collievn.com/quyen-loi-khach-hang/"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">lợi khách hàng</span></span></span></span></span></span></a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="footer-block">
                    <aside id="text-20" class="widget widget_text">
                        <h2 class="widget-title">LIÊN HỆ :</h2>
                        <div class="textwidget">
                            <p><strong>Border Collie Việt Nam</strong></p>
                            <p><strong>Chủ sở hữu</strong> : Lê Chí Anh</p>
                            <p><strong>Mã số thuế:&nbsp;</strong>8030172307</p>
                            <p>Nơi ĐK : Cục Thuế Thành phố Hà Nội.Ngày cấp&nbsp;29-08-2009</p>
                            <p><strong>Phone :&nbsp;</strong>+84989 388 651</p>
                            <p><strong>Email :</strong> lechianh0211@gmail.com</p>
                            <p><strong>Add : </strong>205C8 ngõ&nbsp;108 mai động – hoàng mai – hà nội</p>
                            <p>&nbsp;</p>
                        </div>
                    </aside>
                </div>

                <div class="footer-block">
                    <aside id="sfp_page_plugin_widget-5" class="widget widget_sfp_page_plugin_widget">
                        <h2 class="widget-title">Fanpage :</h2>
                        <div id="fb-root" class=" fb_reset">
                            <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                                <div></div>
                            </div>
                        </div>
                        <script>
                            (function(d) {
                                var js, id = 'facebook-jssdk';
                                if (d.getElementById(id)) {
                                    return;
                                }
                                js = d.createElement('script');
                                js.id = id;
                                js.async = true;
                                js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
                                d.getElementsByTagName('head')[0].appendChild(js);
                            }(document));
                        </script>
                        <!-- SFPlugin by topdevs.net -->
                        <!-- Page Plugin Code START -->
                        <div class="sfp-container">
                            <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/chobordercollie/" data-width="" data-height="" data-hide-cover="false" data-show-facepile="true" data-small-header="false" data-tabs="" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=282&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fchobordercollie%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false"><span style="vertical-align: bottom; width: 282px; height: 180px;"><iframe name="fcadc2200fb3c4" width="1000px" height="1000px" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/page.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D45%23cb%3Df3b52eb5ddf7e5%26domain%3Dcollievn.com%26origin%3Dhttps%253A%252F%252Fcollievn.com%252Ffdc60f4d563b18%26relation%3Dparent.parent&amp;container_width=282&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fchobordercollie%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false" style="border: none; visibility: visible; width: 282px; height: 180px;" class=""></iframe></span></div>
                        </div>
                        <!-- Page Plugin Code END -->
                    </aside>
                    <aside id="media_image-6" class="widget widget_media_image">
                        <h2 class="widget-title">CHỨNG NHẬN</h2>
                        <a href="http://online.gov.vn/Home/WebDetails/51602" target="_blank"><img width="250" height="95" src="https://collievn.com/wp-content/uploads/2019/02/dathongbao-300x114.png" class="image wp-image-2008  attachment-250x95 size-250x95 wp-post-image" alt="" style="max-width: 100%; height: auto;" srcset="https://collievn.com/wp-content/uploads/2019/02/dathongbao-300x114.png 300w, https://collievn.com/wp-content/uploads/2019/02/dathongbao-768x291.png 768w, https://collievn.com/wp-content/uploads/2019/02/dathongbao-1024x388.png 1024w, https://collievn.com/wp-content/uploads/2019/02/dathongbao-384x146.png 384w, https://collievn.com/wp-content/uploads/2019/02/dathongbao.png 1405w" sizes="(max-width: 250px) 100vw, 250px"></a>
                    </aside>
                    <aside id="dmca_widget_badge-2" class="widget widget_dmca_widget_badge">
                        <div class="dmca-badge">
                            <a href="https://www.dmca.com/Protection/Status.aspx?ID=694e70f3-9b9d-4c72-97aa-759499a51197&amp;refurl=https://collievn.com/?fbclid=IwAR0WS5m30ZI5aKYCsoy1xdPE6L8JBD3IqzZu_SzqhZlQGCMBd0k6SHqQIWo" title="Content Protection by DMCA.com" class="dmca-badge"><img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-10.png?ID=694e70f3-9b9d-4c72-97aa-759499a51197" alt="Content Protection by DMCA.com"></a>
                            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js">
                            </script>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="mid-content clearfix">
            <div class="copy-right">
                © 2020 Border Collie Việt Nam
            </div>
            <!-- .copy-right -->
            <div class="site-info">
                WordPress Theme:
                <a href="https://accesspressthemes.com/wordpress-themes/accesspress-parallax" title="WordPress Free Themes" target="_blank">AccessPress Parallax</a>
            </div>
            <!-- .site-info -->
        </div>
    </div>
</footer>