<header id="masthead" class="logo-side ">
  <div class="mid-content clearfix">
    <div class="flex-box">
      <div id="site-logo">
        <%= setting(:site_logo) %>
      </div>
      <nav id="site-navigation" class="main-navigation">
        <div class="menu-toggle">Menu</div>
        <ul id="menu-trang-chu" class="menu">
          <li id="menu-item-1792" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-1792"><a href="/"><i class="_mi _before dashicons dashicons-admin-home" aria-hidden="true" style="font-size:2em;"></i><span>Trang chủ</span></a></li>
          <li id="menu-item-1539" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1539"><a href="https://collievn.com/bai-viet-moi"><i class="_mi _before dashicons dashicons-smiley" aria-hidden="true"></i><span>Bài Viết Mới</span></a></li>
          <li id="menu-item-1537" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1537"><a href="/search"><i class="_mi _before foundation-icons fi-asl" aria-hidden="true"></i><span>Tìm kiếm</span></a></li>
        </ul>
      </nav>
      <!-- #site-navigation -->
    </div>
  </div>
</header>
