.main-navigation>ul>li.current a,
.main-navigation li:hover>a,
.blog-list .blog-excerpt .posted-date,
.woocommerce p.stars a,
.product_meta a,
.woocommerce-MyAccount-navigation a,
.woocommerce-MyAccount-content a,
.woocommerce-cart-form__cart-item a,
.woocommerce-info a,
body:not(.home) .main-navigation .current_page_item>a,
body:not(.home) .main-navigation .current-menu-item>a,
h4.blog-post-title a:hover,
h4.portfolio-post-title a:hover {
  color: #e66432;
}

#main-slider .slick-dots li.slick-active button,
.slider-caption .caption-description a:hover,
.btn:hover,
.testimonial-listing .slick-arrow:hover,
.blog-list .blog-excerpt span,
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce ul.products li.product .button,
.parallax-section .wpcf7-form .wpcf7-submit,
#go-top,
.posted-on,
.pagination .nav-links a,
.pagination .nav-links span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background: #e66432;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: #cf5a2d;
}

#masthead.header-bottom-border,
#main-slider .slick-dots li.slick-active button,
.slider-caption .caption-description a:hover,
.btn:hover,
.team-image:hover,
.team-image.slick-current,
.testimonial-listing .slick-arrow:hover,
.blog-list .blog-excerpt,
#secondary h2.widget-title {
  border-color: #e66432;
}

#secondary h2.widget-title {
  border-color: #e66432;
}

@media screen and (max-width: 1000px) {

  .main-navigation>ul,
  .menu-toggle {
    background-color: #e66432 !important;
  }
}

.posted-on:before {
  border-color: transparent transparent #b85028 #b85028;
}

.btn-search {
  background: #E66432 !important;
  border: none !important;
  &:hover {
    background: #b74f27 !important;
  }
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #E66432 !important;
  border-color: #E66432 !important;
  color: #fff !important;
}

.pagination>li>a, .pagination>li>span {
  color: #333 !important;
}

